<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD9XFE2OOpoj8Ke8nvG6ZZoLJumNFFHZRI</string>
	<key>GCM_SENDER_ID</key>
	<string>849040835287</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DeceitFoldSpree.ChaseRake</string>
	<key>PROJECT_ID</key>
	<string>deceitfoldspree-chaserake</string>
	<key>STORAGE_BUCKET</key>
	<string>deceitfoldspree-chaserake.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:849040835287:ios:4130dca7936779523ee692</string>
</dict>
</plist>